<link rel="stylesheet" href="css/styles.css" />
    <div class="wrap">    <section class="site-section py-lg">
      <div class="container">

        <div class="row blog-entries element-animate">

          <div class="col-md-12 col-lg-8 main-content">
            <img src="{{post.file}}" alt="Image" class="img-fluid mb-5">
             <div class="post-meta">
                        <span class="author mr-2"><img src="images/author.jpg" alt="Colorlib" class="mr-2"> Bankole Ahmed</span>&bullet;
                        <span class="mr-2">{{post.creationDate}}</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> {{comments.length}}</span>
                      </div>
            <h1 class="mb-4">{{post.title}}</h1>
            <a class="category mb-5" href="#">{{post.tag}}</a>

            <div class="post-content-body">
            <p>{{post.description}}</p>
              </div>


            <div class="pt-5">
              <p>Categories:  <a href="#">{{category}}</a>, <a href="#">Travel</a>  Tags: <a href="#">#{{tag}}</a></p>
            </div>


            <div class="pt-5">
              <h3 class="mb-5">{{comments.length}} Comments</h3>
              <ul class="comment-list">
                {{#each post.comments}}
                <li class="comment">
                  <div class="vcard">
                    <img src="images/avatarc.png" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{full_name}}</h3>
                    <p>{{body}}</p>
                  </div>
                </li>
                {{/each}}
              </ul>
              <!-- END comment-list -->

              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="/post/{{post._id}}" method="post" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" name="full_name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" name="comment_body" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                  </div>
                  <input type="hidden" name="id" value="{{post._id}}">

                </form>
              </div>
            </div>

          </div>

          <!-- END main-content -->


                  <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                      <form action="#" class="search-form">
                        <div class="form-group">
                          <span class="icon fa fa-search"></span>
                          <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                      </form>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                      <div class="bio text-center">
                        <img src="images/author.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                          <h2>Bankole Ahmed</h2>
                          <p>I am a developer that loves building awesome web applications with javascript and wrting tech articles for fun.</p>
                          <p><a href="/about" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
                          <p class="social">
                            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                            <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                          </p>
                        </div>
                      </div>
                    </div>


                    <div class="sidebar-box">
                      <h3 class="heading">Categories</h3>
                      <ul class="categories">
                      {{#each categories}}
                        <li><a href="#">{{title}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                      <h3 class="heading">Tags</h3>
                      <ul class="tags">
                        {{#each posts}}
                        <li><a href="#">{{tag}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
          <!-- END sidebar -->

        </div>
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mb-3 ">Related Post</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block sm d-flex align-items-center height-md" style="background-image: url('images/img_2.jpg'); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Lifestyle</span>
                  <span class="mr-2">March 15, 2018 </span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block sm d-flex align-items-center height-md" style="background-image: url('images/img_3.jpg'); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Travel</span>
                  <span class="mr-2">March 15, 2018 </span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block sm d-flex align-items-center height-md" style="background-image: url('images/img_4.jpg'); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Food</span>
                  <span class="mr-2">March 15, 2018 </span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
              </div>
            </a>
          </div>
        </div>
      </div>


    </section>
